<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cris.cmsm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SubmitReportLiMovement"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" ></activity>
        <activity android:name=".Subhead_abnormality_activity" />
        <activity
            android:name=".Abnormality_department"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Abnormality_fill_activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Grading"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".LImovement" />
        <activity
            android:name=".LI_activitydraftdetail"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".LI_activity_detail_page"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Crew_Current_Status"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Abnormality_Dashboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Password_reset_activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Before_abnoresponselist_activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".abnoresponselist"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.CrewPositionController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.CrewAvailabilityController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.CrewUtilizationController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.CrewUtilizationReportController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.EnergyConsumptionController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.AbnormalityController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.AbnormalityReportController"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.VcdStatusController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.VcdStatusReportController"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.KeyValueController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.LICrewMonitoredReportController"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.CrewDetailsController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.CrewAvailabilityDetailController"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SubStationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MisReportListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WebsitesLink"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.DetailController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.GraphController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.BoardController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.CompareConsumController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.MonthGraphController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.SubStationConsController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SubStationAssetsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.AssetsReportController"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetailSSConsumption"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ZoomImageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden" /> <!-- Zoom Activity -->
        <activity
            android:name=".MonthZoomActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetailOnBarActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ZoomCompareGraph"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DetailMISReport"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GraphZoomActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AnnexureTen"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.SubStationReportController"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.SubStationAssetsReportsController"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.SummarySSController"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".tabviews.HTLTDetailsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AssetsSummaryActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AssetsDetailsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" /> <!-- Zoom Activity -->
        <activity android:name=".abnorresponse_activity" />

        <activity
            android:name=".Responsedetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.CrewAvailabilityDetailFilterController"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".navcontrollers.IrregularCrewController"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" /> <!-- Zoom Activity -->
        <activity
            android:name=".navcontrollers.IrregularCrewReportController"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>